{% extends 'layout/layout.twig' %}

{% block title %}Hubble Videos{% endblock %}

{% block description %}Hubble List of Videos{% endblock %}

{% block main %}
<main>
    <form class="form" method="post" action={{ url('hubble!videos') }}>
        <fieldset>
            <legend>
                <i class="fas fa-film fa-4x" aria-hidden="true"></i>
            </legend>
            <ul>
                <li>
                    <label for="page">Page (max 41)</label>
                    <input id="page" name="page" type="number" min="1" max="41" placeholder="Type the Page Number">
                </li>
                <li>
                    <input type="submit" value="Search">
                </li>
            </ul>
        </fieldset>
    </form>

    <ul>
        {% for video in videos %}
        <li>
            <form method="post" action={{ url('hubble!video') }}>
                <input name="item" type="hidden" value="{{ video.id }}">
                <input class="button-navy" type="submit" value="{{ video.name }}" title="Watch the Video {{ video.id }}">
            </form>
        </li>
        {% endfor %}
    </ul>
</main>
{% endblock %}
