{% extends 'layout/layout.twig' %}

{% block title %}Hubble Images{% endblock %}

{% block description %}Hubble List of Images{% endblock %}

{% block main %}
<main>
    <form class="form" method="post" action={{ url('hubble!images') }}>
        <fieldset>
            <legend>
                <i class="far fa-image fa-4x" aria-hidden="true"></i>
            </legend>
            <ul>
                <li>
                    <label for="page">Page (max 179)</label>
                    <input id="page" name="page" type="number" min="1" max="179" placeholder="Type the Page Number">
                </li>
                <li>
                    <input type="submit" value="Search">
                </li>
            </ul>
        </fieldset>
    </form>

    <ul>
        {% for image in images %}
        <li>
            <form method="post" action={{ url('hubble!image') }}>
                <input name="item" type="hidden" value="{{ image.id }}">
                <input class="button-navy" type="submit" value="{{ image.name }}" title="Watch the Image {{ image.id }}">
            </form>
        </li>
        {% endfor %}
    </ul>
</main>
{% endblock %}
