{% extends 'layout/layout.twig' %}

{% block title %}Mars{% endblock %}

{% block description %}Mars Rover Photos{% endblock %}

{% block main %}
    <main>
        <h2>{{ block("description") }}</h2>

        <form class="form" method="post" action={{ url('mars') }}>
            <fieldset>
                <legend>
                    <i class="fas fa-robot fa-2x" aria-hidden="true"></i>
                </legend>
                <ul>
                    <li>
                        <label for="rover">Rover</label>
                        <select id="rover" name="rover">
                            <option value="curiosity">Curiosity : 2012 - 2026 (estimated)</option>
                            <option value="opportunity">Opportunity : 2004 - 2018</option>
                            <option value="spirit">Spirit : 2004 - 2010</option>
                        </select>
                    </li>
                    <li>
                        <label for="camera">Camera</label>
                        <select id="camera" name="camera">
                            <optgroup label="All Rovers">
                                <option value="fhaz">Front Hazard Avoidance Camera</option>
                                <option value="rhaz">Rear Hazard Avoidance Camera</option>
                                <option value="navcam">Navigation Camera</option>
                            </optgroup>
                            <optgroup label="Curiosity Only">
                                <option value="mast">Mast Camera</option>
                                <option value="chemcam">Chemistry & Camera Complex</option>
                            </optgroup>
                            <optgroup label="Opportunity & Spirit Only">
                                <option value="pancam">Panoramic Camera</option>
                                <option value="minites">Miniature Thermal Emission Spectrometer</option>
                            </optgroup>
                        </select>
                    </li>
                    <li>
                        <input type="submit" value="Search">
                    </li>
                </ul>
            </fieldset>
        </form>

        <figure class="grid-2sm-3lg">
            {% for photo in mars %}
                <figure>
                    <img class="bord-curve" src="{{ photo["img_src"] }}" alt="Mars Rover Photo #{{ photo["id"] }}">
                    <figcaption>{{ photo["camera"]["name"] }}</figcaption>
                </figure>
            {% endfor %}
        </figure>
    </main>
{% endblock %}
